.input-card {
  background-color: inherit;
  border: none;
  font-size: 1rem;
}
.cookie-card {
  color: #e09f3e;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
}
.trash-card {
  color: #e5383b;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
}
.card-container {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.344);
}
.favourite {
  color: #e09f3e;
}
